<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Amazonia - Path finder</title>

  <!-- Vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- -->

  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <!-- -->

  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>

<body data-bs-theme="dark">
  <div id="app">

    <nav class="navbar navbar-expand-lg dark border-bottom border-body">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="public/logo.png" alt="logo" style="width: 100px;">
          Drone - Route calculator
        </a>
        <div class="d-flex">
          <span v-if="serviceStatus" title="Service is Healthy!">✅</span>
          <span v-else title="Service is unavailable!">❗</span>
        </div>
      </div>
    </nav>
    
    <div class="container p-4 d-flex flex-column align-items-center">
      <div class="row align-items-center input-group mb-3">
        <div class="col-3">
          <label for="inputPassword6" class="col-form-label">▶️ Starting Point: </label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control text-uppercase" maxlength="2" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" v-model="startingPosition">
        </div>
      </div>
      <div class="row align-items-center input-group mb-3">
        <div class="col-3">
          <label for="inputPassword6" class="col-form-label">📦 Object pick-up: </label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control text-uppercase" maxlength="2" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" v-model="objectPosition">
        </div>
      </div>
      <div class="row align-items-center input-group mb-3">
        <div class="col-3">
          <label for="inputPassword6" class="col-form-label">📬 Delivery point: </label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control text-uppercase" maxlength="2" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" v-model="deliveryPoint">
        </div>
      </div>
      <button class="btn btn-secondary" @click="fetchApi()" :disabled="!enableSubmit">Calculate Route</button>

      <div class="col-12 mt-3 alert alert-secondary alert-dismissible fade show" role="alert"
        v-show="pathFinderReponse.length > 0">
        <p>{{ pathFinderReponse }}</p>
        Will take <b>{{ secondstToTraverseRoute }}</b> seconds to be delivered as fast as possible!
      </div>
      <div class="col-12 mt-3 alert alert-danger alert-dismissible fade show" role="alert"
        v-show="pathFinderError.length > 0">
        {{ pathFinderError }}
      </div>
    </div>
  </div>
</body>

</html>

<script>
  const { createApp, ref, computed } = Vue

  const app = createApp({
    setup() {

      const startingPosition = ref('')
      const objectPosition = ref('')
      const deliveryPoint = ref('')

      const pathFinderReponse = ref('')
      const pathFinderError = ref('')
      const secondstToTraverseRoute = ref('')

      const serviceStatus = ref(false)

      const enableSubmit = computed(() =>
        startingPosition.value.length > 0
        && objectPosition.value.length > 0
        && deliveryPoint.value.length > 0
      )
      
      //fetch on HealthCheck endpoint to check if the application is running 
      axios.get('https://localhost:7110/status')
        .then((res) => serviceStatus.value = true)
        .catch((error) => serviceStatus.value = false)

      const fetchApi = () => {
        pathFinderError.value = '';
        axios.get(`https://localhost:7110/PathFinder/${startingPosition.value}/${objectPosition.value}/${deliveryPoint.value}`)
          .then((res) => {
            pathFinderReponse.value = res.data.routeSteps.map((x) => {
              return `${x.source} -> ${x.target}`
            }).join(', ');
            secondstToTraverseRoute.value = res.data.secondstToTraverseRoute;
          })
          .catch((error) => pathFinderError.value = error.response.data)
      }

      return {
        serviceStatus,
        startingPosition,
        objectPosition,
        deliveryPoint,
        enableSubmit,
        pathFinderReponse,
        pathFinderError,
        secondstToTraverseRoute,
        fetchApi,
      }
    }
  });

  app.mount('#app')
</script>

<style scoped>
  body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
</style>