<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e12d543c-5588-4b8a-ac5e-5f79242d8800/resourcegroups/PathFinder20231015180100ResourceGroup/providers/Microsoft.Web/sites/PathFinder20231015180145</ResourceId>
    <ResourceGroup>PathFinder20231015180100ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/e12d543c-5588-4b8a-ac5e-5f79242d8800/resourceGroups/PathFinder20231015180100ResourceGroup/providers/Microsoft.ApiManagement/service/PathFinderAmazoniaApi/apis/PathFinder</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pathfinder20231015180145.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>866ca78a-0994-455b-bfb7-9af25f153f50</ProjectGuid>
    <MSDeployServiceURL>pathfinder20231015180145.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PathFinder20231015180145</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$PathFinder20231015180145</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>